@import url('https://fonts.googleapis.com/css?family=Engagement|Grand+Hotel');

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Engagement', cursive;
  color: #5792f2;
}
